# Python virtual environments
venv/

# Environment variables
*.env
.env.local

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# IDE files
.vscode/
.idea/

# Other common ignores
.DS_Store
Thumbs.db

.vercel